.menu button {
  border: 2px solid #01df14;
  background-color: transparent;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  transition: 1000ms;
  border-radius: 10px;
  cursor: pointer;
}

.menu button:hover {
  background-color: #01df14;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  transition: 1000ms;
}

.formRegis {
  position: absolute;
  text-align: center;
  height: 80vh;
  overflow: hidden;
  overflow-y: auto;
}

fieldset {
  margin: 15px 0;
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.formRegis input {
  min-width: 215px;
  max-width: 250px;
  margin: 15px 10px;
}

