.menu button,
.enviar_btn,
.enviar_btn + button {
  border: 2px solid #01df14;
  background-color: transparent;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  transition: 1000ms;
  border-radius: 10px;
  cursor: pointer;
}

.menu button:hover,
.enviar_btn:hover,
.enviar_btn + button:hover  {
  background-color: #01df14;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  transition: 1000ms;
}

.formRegis {
  position: absolute;
  text-align: center;
  height: 80vh;
  overflow: hidden;
  overflow-y: auto;
}

.formRegis::-webkit-scrollbar {
  display: none;
}

.formRegis::-webkit-scrollbar-thumb {
  background-color: transparent;
}

fieldset {
  margin: 15px 0;
  border: 1px solid white;
  border-radius: 25px;
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.formRegis input {
  min-width: 215px;
  max-width: 250px;
  margin: 15px 10px;
}

.formRegis .enviar_btn,
.formRegis button {
  min-width: 100px;
  max-width: 150px;
  padding: 8px;
  height: 35px;
}

.formRegis .enviar_btn {
  margin-right: 55px;
  border: 2px solid rgb(24, 101, 242);
}

.formRegis .enviar_btn:hover {
  background-color: rgb(24, 101, 242);
  color: white;
}

