* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5c6784;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

header {
  background-color: #1d263b;
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 10;
}

header p {
  font-weight: bold;
  font-size: 1.3em;
}

.menu-hamburguesa {
  width: 50px;
  height: 50px;
  background-image: url("../imagenes/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.menu {
  position: absolute;
  right: -200px;
  top: 75px;
  background-color: white;
  width: auto;
  height: auto;
  padding: 20px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: 500ms;
}

.is-active {
  transition: 500ms;
  right: 10px;
}

.menu li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.menu li:hover {
  background-color: rgb(24, 101, 242);
}

.menu li:hover a {
  color: white;
}

.menu a {
  text-decoration: none;
  color: rgb(24, 101, 242);
  font-weight: bold;
  margin-right: 10px;
  font-size: 0.8em;
}

main {
  padding-top: 100px;
  margin: 30px auto;
  width: 80%;
  text-align: center;
}

.inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 380px;
  margin-bottom: 50px;
}

.inicio figure {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 10px 0px rgb(255, 255, 255, 0.5);
}

.inicio img {
  width: 100%;
  margin-bottom: 100px;
}

.curriculum {
  width: 100%;
  padding: 30px 0;
}

.curriculum h2 {
  margin-bottom: 30px;
}

.curriculum div {
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.curriculum article {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.sobre-mi {
  background-color: #1d263b;
  width: 45%;
  border: 1px solid white;
  border-radius: 15px;
  display: inline-block;
  height: 300px;
  padding: 10px;
  margin-bottom: 30px;
}

.sobre-mi p {
  font-size: 0.8em;
  margin-top: 20px;
  text-align: left;
  line-height: 20px;
}

.educacion {
  background-color: #1d263b;
  width: 45%;
  border: 1px solid white;
  border-radius: 15px;
  display: inline-block;
  height: 300px;
  padding: 10px;
  margin-bottom: 30px;
}

.educacion ul {
  font-size: 0.8em;
  margin-top: 20px;
  text-align: left;
  list-style: none;
}

.educacion li {
  margin-top: 15px;
}

.contacto {
  background-color: #1d263b;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin-bottom: 50px;
}

.habilidades {
  width: 100%;
  padding: 30px 0;
  margin-bottom: 50px;
}

.habilidades h2 {
  margin-bottom: 20px;
}

.barra {
  width: 100%;
  height: 25px;
  margin: 10px 0 15px;
  border: 1px solid white;
  border-radius: 25px;
  position: relative;
}

.html div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background-color: orangered;
  border-radius: 25px;
  z-index: -10;
}

.css div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: blue;
  border-radius: 25px;
  z-index: -10;
}

.javascript div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(231, 231, 22);
  border-radius: 25px;
  z-index: -10;
}

.java div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: red;
  border-radius: 25px;
  z-index: -10;
}

.otras-habi {
  display: flex;
  justify-content: space-between;
}

.otras-habi div {
  padding-top: 20px;
  margin-bottom: 25px;
}

.otras-habi div h4 {
  margin-bottom: 15px;
}

.otras-habi ul {
  text-align: left;
}

.otras-habi a {
  text-decoration: none;
  color: white;
}

.objetivos {
  width: 100%;
  padding: 30px 0;
  margin-bottom: 50px;
  height: auto;
}

.obj-contenedor {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.obj-contenedor article {
  width: 48%;
  height: auto;
  border: 1px solid white;
  border-radius: 15px;
  background-color: #1d263b;
  padding: 30px;
  margin-top: 30px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
}

.obj-contenedor article p {
  margin-top: 30px;
  font-size: 0.85em;
  line-height: 20px;
  text-align: left;
}

.pagina {
  width: 100%;
  height: auto;
  padding: 30px 0;
  margin-bottom: 50px;
}

.pagina p {
  margin-top: 30px;
  font-size: 1em;
  line-height: 20px;
  font-weight: 600;
}

.extra {
  width: 60%;
  height: auto;
  padding: 30px 0;
  margin: 0 auto;
  margin-bottom: 50px;
}

.extra ul {
  margin-top: 30px;
  font-size: 1em;
  line-height: 20px;
  text-align: left;
}

form {
  width: 50%;
  margin: 30px auto;
  border: 2px solid rgb(24, 101, 242);
  border-radius: 20px;
  background-color: rgb(29, 38, 59);
  padding: 30px;
  text-align: left;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
}

::placeholder {
  font-size: 1.2em;
}

form input {
  margin: 10px 0 30px;
  width: 100%;
  height: 25px;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  border: none;
}

form textarea {
  width: 100%;
  padding: 10px 0 0 10px;
  margin-top: 10px;
  outline: none;
  border: none;
}

form .boton {
  width: 80px;
  height: 30px;
  margin-right: 20px;
  padding: 0;
}

form .btn-uno {
  margin-right: calc(100% - 206px);
  margin-left: 20px;
  background-color: rgb(24, 101, 242);
  color: white;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background-color: #1d263b;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

footer p {
  font-size: 1em;
  font-weight: bold;
}

footer a {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  background-image: url("../imagenes/github.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
