body {
  transition: 2000ms;
  background-color: rgb( 0, 0, 141);
  color: white;
  text-align: center;
}

.logo {
  display: block;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  background-image: url(../imagenes/logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

table {
  margin: 0 auto;
}

table, td, th {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 15px;
}

th {
  font-size: 1.5em;
  font-weight: bold;
}

button {
  width: 95%;
  height: 95%;
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.confirmacion {
  background-color: white;
  width: 95%;
  height: 100px;
  border-radius: 25px;
  color: green;
  font-weight: bold;
  font-size: 1.2em;
  padding: 20px;
  position: absolute;
  top: -180px;
  left: 4px;
  transition: 500ms;
}

.confirmacion .check {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-image: url(../imagenes/check.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.confirmacion-active {
  transition: 500ms;
  top: 10px;
}

form {
  width: 50%;
  margin: 30px auto;
  border: 2px solid rgb(24, 101, 242);
  border-radius: 20px;
  background-color: rgb(29, 38, 59);
  padding: 30px;
  text-align: left;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
  min-width: 300px;
}

::placeholder {
  font-size: 1.2em;
}

form input {
  margin: 10px 0 30px;
  width: 100%;
  height: 25px;
  border-radius: 10px;
  padding-left: 10px;
  outline: none;
  border: none;
}

form textarea {
  width: 100%;
  padding: 10px 0 0 10px;
  margin-top: 10px;
  outline: none;
  border: none;
}

form .boton {
  width: 80px;
  height: 30px;
  margin-right: 20px;
  padding: 0;
}

form .btn-uno {
  margin-right: calc(100% - 206px);
  margin-left: 20px;
  background-color: rgb(24, 101, 242);
  color: white;
  font-weight: bold;
}
