* {
  transition: 1000ms;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 141);
  color: white;
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
}

header {
  background-color: rgb(0, 0, 62);
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px 2px rgba(0 ,0 ,0 , 0.9);
}

header img {
  width: 100px;
}

.menu {
  width: 600px;
  height: 100%;
  margin-left: 30px;
  overflow-x: auto;
  box-shadow: inset 0 0 6px rgba(0 ,0 ,0 , 0.9);
  padding-right: 15px;
}

.menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  list-style: none;
  margin-left: 15px;
}

.menu a {
  border: 2px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  transition: 1000ms;
  border-radius: 10px;
}

.menu a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  transition: 1000ms;
}

main {
  text-align: center;
  width: 70%;
}

main h1 {
  margin-top: 10px;
}

main iframe {
  width: 100%;
  height: 100%;
  background-image: url(../imagenes/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1000ms;
}

aside {
  width: 30%;
  height: calc(100vh - 150px);
}

aside span {
  display: block;
  width: 100%;
  height: calc(100% / 3);
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

aside .img1 {
  background-image: url(../imagenes/pacman.gif);
}

aside .img2 {
  background-image: url(../imagenes/game-over.gif);
}

aside .img3 {
  background-image: url(../imagenes/consola.gif);
}

footer {
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 62);
  box-shadow: 0 0 15px 0 rgba(0 ,0 ,0 , 0.9);
  text-align: center;
  padding: 10px;
}

::-webkit-scrollbar{
  width: 3px;
  height: 3px;
  background-color: transparent;
}
::-webkit-scrollbar-track{
  width: 3px;
  background-color: rgb(0, 0, 62);
}
::-webkit-scrollbar-thumb{
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .5);
}